<h1>Chat Rooms</h1>
<hr/>
<div class="room-section" style="display: <%= !current_user ? "none" : "inline" %>" >
  <div id="rooms" class= "list-group">
    <%= render @rooms %>
  </div>
  <hr/>
  <%= render 'rooms/room_form' %>
</div>
<div class='user-section' style="display: <%= current_user ? "none" : "inline"  %>" >
  <%= render 'users/user_form' %>
</div>
<br/><br/>