<h1><%= @room.topic %></h1>
<hr>
<div id='messages' class='list-group' data-room-id=<%= @room.id %> data-user-id=<%= current_user.id %> >
  <%= render @room.messages %>
</div>
<%= render 'messages/message_form'%>
<br/>

<a href='/' class='btn btn-primary home-button'>Home<a>
<br/><br/>
